<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Acebook</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"/>
    <link crossorigin src="..." rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"/>
</head>
<body>
<div class="ui inverted segment">
    <div class="ui inverted menu">
        <div class="large item">
            <a>Acebook</a>
        </div>
        <div class="ui right inverted secondary pointing menu">
            <a class="item">[[${#httpServletRequest.remoteUser}]]</a>
            <a class="item" id="signoutLink" href="/logout">
                Sign out
            </a>
        </div>
    </div>
</div>
<div class="ui two column centered grid">
    <div id="app"></div>
</div>
    <script src="built/bundle.js"></script>
</body>
</html>
