<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Register</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"/>
</head>
<body>
<div class="ui inverted segment">
    <div class="ui inverted menu">
        <div class="large item">
            <a>Acebook</a>
        </div>
        <div class="ui right inverted secondary pointing menu">
            <a class="item" id="loginLink" href="/login">
                Login
            </a>
            <a class="active item">
                Register
            </a>
        </div>
    </div>
</div>
<div class="ui grid container">
    <div class=" row">
        <div>
            <h1>Register</h1>
        </div>
    </div>
    <div class="row">
        <form th:action="@{/users}" th:object="${user}" class="ui huge fluid form" id="registerForm" method="post">
            <table>
                <tr>
                    <div class="field"
                         th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
                        <td><label for="username" >Username</label></td>
                        <td><input id="username"
                                   class="form-control"
                                   th:field="*{username}"/></td>
                        <td class="ui left pointing red basic label error-message"
                           th:each="error : ${#fields.errors('username')}"
                           th:text="${error}">Validation error</td>
                    </div>
                </tr>
                <tr>
                    <div class="field"
                         th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                        <td><label for="email">E-mail</label></td>
                        <td><input id="email"
                                   class="form-control"
                                   th:field="*{email}"/></td>
                        <td class="ui left pointing red basic label error-message"
                           th:each="error : ${#fields.errors('email')}"
                           th:text="${error}">Validation error</td>
                    </div>
                </tr>
                <tr>
                    <div class="field"
                         th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                        <td><label for="password">Password</label></td>
                        <td><input id="password"
                                   class="form-control"
                                   type="password"
                                   th:field="*{password}"/></td>
                        <td class="ui left pointing red basic label error-message"
                           th:each="error : ${#fields.errors('password')}"
                           th:text="${error}">Validation error</td>
                    </div>
                </tr>
            </table>
            <button type="submit" class="ui button primary" style="margin:2em">Register</button>
            <p class="error-message"
               th:if="${#fields.hasGlobalErrors()}"
               th:each="error : ${#fields.errors('global')}"
               th:text="${error}">Validation error</p>
        </form>
        <div th:if="${param.success}">
            <div class="alert alert-info">
                You've successfully registered to Acebook!
            </div>
        </div>


    </div>

</div>


</body>
</html>